body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
}

h1 {
    color: #00a79d;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

span{
    color: #6d6e71;
}

input {
  width: 50vw;
  font-size: 1rem;
}

button {
  width: 50vw;
}

p {
  text-align: justify;
}

.top { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5f3f2;
    text-align: center;
    height: 45vh;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.bottom {
  width: 100%;
  height: 100%;
}

.title-input {
  height: 1.5rem;
}

.body-input {
  margin-top: 1rem;
  height: 1.5rem;
}

.save-button {
    background-color: #00a79d;
    color: #fff;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.search-input {
  height: 1.5rem;
}

.cards-container {
  width: 50vw;
  margin: 0 auto;
  border-bottom: 2px solid #d1d3d4;
}

.title-text {
  display: flex;
  justify-content: space-between;
}

.idea {
  font-size: 1.2rem;
  color: #6d6e71;
  margin-top: 2rem;
  font-weight: 700;
}

.light-text {
  margin-top: .6rem;
  font-weight: 400;
  color: #939598;
  width: 50vw;
}

.footer-text {
  margin: .75rem 0 .75rem 0;
  display: flex;
  justify-content: flex-start;
}

.quality-text {
  color: #6d6e71;
  margin: .5rem;
}

.icon {
  border: none;
  height: 30px;
  width: 30px;
}

.delete {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/delete.svg");
  margin-top: 2rem;
}

.delete:hover {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/delete-hover.svg");
}

.upvote {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/upvote.svg");
  margin-right: 2rem;
}

.upvote:hover {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/upvote-hover.svg");
}

.downvote {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/downvote.svg");
  margin-right: 2rem;
}

.downvote:hover {
  background-image: url("/Users/kumi5605/Desktop/Turing-Docs/idea-box/downvote-hover.svg");
}
